extends layout

block content
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")
  script.
    var lock = new Auth0Lock('#{config.jwtAudience}', '#{config.auth0Domain}', { auth: {
         redirectUrl: '#{config.auth0CallbackUrl}',
         responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }});
    lock.show();

